.filter_table {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.filter_table > div {
    display: block;
}
@media (max-width: 576px) {
    .filter_table > input {
        width: 100% !important;
        margin-top: 0.5rem;
    }
}
.filter_table_select {
    display: inline-block;
    padding: 2px;
    min-width: 80px;
    margin-right: 10px;
    outline: 0;
    background: none;
}